* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
}

main {
    display: flex;
}

section {
    margin-top: 10px;
}
.header {
    padding: 4px;
    text-align: center;
    background-image: linear-gradient(
        to right, turquoise, blue);
    color: white;
}

.form-container {
    padding: 10px;
}

.search {
    width: 25%;
    margin: 10px 20px 0 10px;
    padding: 10px 0 10px 10px;
    background-color: #a8d0df;
}

.search-label {
    font-size: 20px;
    font-weight: 600;
}

.search-input {
    width: 100%;
    height: 30px;
    border-color: rgb(48, 48, 84);
    border-width: thin;
    padding: 0 15px;
}

.search-button {
  background-color: #6db4e6; 
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.city-list-box {
    margin-top: 5px;
}

.past-search {
    background-color: white;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 3px;
    margin: 0;
    text-align: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    color: grey;
    font-size: 12px;
    cursor: pointer;
}

.city-name {
    width: 30%;
}

#results {
    border-color: rgb(134, 177, 233);
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-header,
.card-body {
    text-align: center;
}

.card-title {
    background-color: rgb(113, 113, 234);
    color: white;
    width: 100%;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.card-body {
    display: block;
    align-items: center;
    background-color: rgb(129, 195, 217);
    font-size: 20px;
   
}

.current-weather-icon {
    width: 80px;
    height: 80px;
}

.city-temperature, 
.city-humidity, 
.city-wind-speed {
    margin: 15px 20px;
    font-size: 20px;
}

.future-forecast-container {
    margin: 15px;
    display: block;
    align-items: center;
    background-color: rgb(113, 175, 196);
    padding: 0px;
}

.future-card {
    border-color: rgb(134, 177, 233);
    border-width: thin;
    border-style: solid;
    align-items: center;
    display: block;
}

.future-forecast-title {
    font-size: 24px;
    margin: 10px 10px 15px 15px;
}

#forecastWeather {
    border-color: rgb(134, 177, 233);
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#date-1, #date-2, #date-3, #date-4, #date-5,
#temp-1, #temp-2, #temp-3, #temp-4, #temp-5,
#wind-1, #wind-2, #wind-3, #wind-4, #wind-5,
#humidity-1, #humidity-2, #humidity-3, #humidity-4, #humidity-5 {
    margin: 15px 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#future-icon img {
    width: 60px;
    height: 60px;
    align-items: center;
}

.future-temp,
.future-wind,
.future-humidity {
    font-size: 16px;
    font-weight: 200;
}


@media screen and (max-width: 575px) {
    .search-input {
        width: 40%;
    }

    .search-button {
        margin-left: 0px;
    }

    .search-label {
        font-size: 15px;
    }

    .form-row {
        display: block;
        text-align: center;
    }

    .results {
        width: 60%;
    }
}