* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
}

main {
    display: flex;
}

section {
    margin-top: 10px;
}
.header {
    padding: 4px;
    text-align: center;
    background-image: linear-gradient(
        to right, turquoise, blue);
    color: white;
}

.form-container {
    padding: 10px;
}

.search-label {
   font-size: 24px;
   font-weight: 600;
}

.search-input {
    width: 25%;
    height: 30px;
    border-color:brown;
    border-width: thin;
    padding: 0 15px;
}

.search-button {
    padding: 10px 15px;
}

.results {
    padding: 10px;
}

@media screen and (max-width: 575px) {
    .search-input {
        width: 40%;
    }

    .search-button {
        margin-left: 0px;
    }

    .search-panel h3 {
        font-size: 15px;
    }

    .form-row {
        display: block;
        text-align: center;
    }

    .results {
        width: 60%;
    }
}